<section>
  <div id="building">
    <div class="window">
      <span>👮</span>
      <span>💃</span>
      <span>🕺</span>
      <span>🕳</span>
      <span>🕺</span>
      <span data-dead="true">💀</span>
    </div>
    <div class="window">
      <span>🔥</span>
      <span>💃</span>
      <span>🔥</span>
      <span>🕺</span>
      <span>🔥</span>
      <span>💃</span>
      <span>🔥</span>
      <span>🕺</span>
    </div>
    <div class="window">
      <span>🕳</span>
    </div>
    <div class="window">
      <span data-bomb="fake-bomb">💣</span>
      <span data-bomb="this-is-not-a-bomb">💣</span>
      <span data-bomb="keep-trying">💣</span>
      <span data-bomb="not-this-one">💣</span>
      <span data-bomb="real">💣</span>
      <span data-bomb="not-real">💣</span>
    </div>
    <span>🚪</span>
  </div>
</section>