section {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: indigo
}

div {
  border: 3px solid black;
  background-color: aquamarine;
  margin: 1rem;
}

div.pictures {
  margin: 1rem;
  width: 20vw;
  height: 20vh;
  background-color: cornflowerblue;
}